body { margin: 20px 0; color: #fff; line-height: 1.2em; }

a { color: #ff0000; text-decoration: none; }
a:hover { text-decoration: underline; }

h1,h2,h3,h4,h4,h5 { font-weight: normal; text-transform: uppercase; }

hr { border: none; border-top: 1px dotted #333; }

#header { position: relative; width: 960px; margin: 0 auto; }
#logo { margin: 10px 0; }

#right { position: absolute; right: 0; top: 20px; width: 200px; }
#right .sun-times { text-align: center; text-transform: uppercase; }
#right .sun-times img { vertical-align: bottom; }
#right .sun-times p { margin: 0; }
#right .survey { margin-top: 40px; font-size: 120%; font-weight: bold; text-align: center; text-transform: none; }
#right .survey a { color: #ffff00; }

#home { font-family: sans-serif; font-size: 120%; text-align: center; }

#banner { height: 70px; line-height: 70px; color: #fff; }
#banner h2 { margin: 10px 0; padding: 0; font-size: 120%; text-transform: uppercase; }

.content { width: 800px; margin: 0 auto; position: relative; }

.benefits { overflow: hidden; width: 520px; height: 1%; font-size: 105%; margin: 0 auto; }
.benefits ul { margin: 10px 0; padding: 0; text-align: left; }
.benefits li { float: left; width: 259px; margin: 0; padding: 0; list-style-position: inside; list-style-image: url(/images/li.gif); line-height: 2em; }
.benefits li.wheelchair { margin: 10px 0; display: block; width: 100%; text-align: center; }
.benefits li.wheelchair img { vertical-align: middle; }

.booking { font-size: 200%; text-transform: uppercase; }

.contact h2 { margin: 5px 0; padding: 0; font-weight: bold; font-size: 300%; }
.contact p { line-height: 1.2em; }

#footer li { display: inline-block; width: 31%; font-size: 80%; }

