<div id="banner">
<h2>Standard City Rates - The Best Service</h2>
</div>

<div class="content">

  <div class="contact">
    <h2 class="phone">403.317.7777</h2>
    <p><a href="/booking">BOOK ONLINE</a><br />
    or email <%= mail_to "dispatch@aplustaxi.ca", nil, :encode => 'hex' %><br />
    or text 403.915.2000</p>
  </div>

  <hr />

  <div class="benefits">
  <ul>
    <li>Advance Bookings</li>
    <li>Student &amp; Senior Discounts</li>
    <li>Flat Rate Long Trips</li>
    <li>Frequent Rider Discounts</li>

  </ul>
  </div>

</div>

