<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>A-Plus Taxi</title>
<%= stylesheet_link_tag 'print', :media => :all %>
</head>
<body>
<div id="content">
  <%= yield  %>
</div>
</body>
</html>
